<div class="chat-footer position-relative">
        
    <div class="position-absolute" [style]="{bottom:'3rem', width :'95%'}">
        <div class="ml-4 py-2 bg-light rounded" *ngIf="replyMsgId">
            <div class="ml-2 mr-2">
                <div class="d-flex justify-content-between">
                    <p class="text-muted">Replying to : </p>
                    <a (click)="replyMsgId = null"><i class="feather icon-x border rounded icon-sm text-muted" ngbTooltip="Remove reply"></i></a>
                </div>
                <p> {{replyMsgContent}} </p>
            </div>
        </div>

        <div class="ml-4 py-2 bg-light rounded" *ngIf="file">
            <div class="ml-2 mr-2">
                <div class="d-flex justify-content-between">
                    <p>Click on send button to send file</p>
                    <a (click)="file = null"><i class="feather icon-x border rounded icon-sm text-muted" ngbTooltip="Remove File"></i></a>
                </div>
            </div>
        </div>

        <div class="ml-4 py-2 bg-light rounded" *ngIf="isRecording || blobUrl">
            <div class="ml-2 mr-2">

                <div class="d-flex justify-content-between">

                    <!-- recording started -->
                    <p *ngIf="isRecording">Audio Recording is started <span *ngIf="isRecording && !blobUrl"> {{recordedTime}} </span></p>
                    <a *ngIf="isRecording && !blobUrl" (click)="stopRecording(); openBasicModal(sendRecordModal)">
                        <i class="mdi mdi-stop" ngbTooltip="Stop Recording"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>


    <!-- Message list end -->
    <emoji-mart *ngIf="showEmojiPicker" (emojiClick)="addEmoji($event, messageInput)" set = 'apple' emoji="point_up" [showPreview]="false">
    </emoji-mart>

    <!-- bottom bar -->
    <div class="d-flex mt-2">
        <div>
            <button type="button" class="btn btn-icon mr-2" (click)="toggleEmojiPicker(messageInput)" ngbTooltip="Emoji">
                <i class="feather icon-smile text-muted"></i>
            </button>
        </div>
        <div class="d-none d-md-block">
            <button type="button" (click)="ChatImageUpload.click()" class="btn btn-icon mr-2" ngbTooltip="Attatch files">
                <i class="feather icon-paperclip text-muted"></i>
            </button>
            <input type="file" #ChatImageUpload (change)="onFileChanged($event)" hidden accept="audio/*,video/*,image/*">
        </div>
        <div class="d-none d-md-block">
            <button type="button" class="btn btn-icon mr-2" ngbTooltip="Record you voice" (dblclick)="startRecording()">
                <i class="feather icon-mic text-muted"></i>
            </button>
        </div>
        <div class="search-form flex-grow mr-2 input-group">
            <input type="text" class="form-control rounded-pill" (keydown.enter)="sendMessage(messageInput)"
                id="chatForm" placeholder="Type a message" #messageInput autocomplete="off">
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-icon rounded-circle"
                (click)="sendMessage(messageInput)">
                <i class="feather icon-send"></i>
            </button>
        </div>
    </div>
</div>


<!-- Send audio modal -->
<ng-template #sendRecordModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure??</h5>
        <i (click)="modal.close(); clearRecordedData()" class="feather icon-x icon-xs mr-2"></i>
    </div>
    <div class="modal-body">
        <audio *ngIf="!isRecording && blobUrl" controls>
            <source [src]="blobUrl" type="audio/webm">
        </audio>
    </div>
    <div class="modal-footer d-flex justify-content-start">
        <button type="button" class="btn btn-secondary" (click)="modal.close(); clearRecordedData()">Close</button>
        <button type="button" class="btn btn-primary" (click)="sendRecordedAudio(); modal.close();">Send Audio</button>
    </div>
</ng-template>