.statusContent{
    border-radius: 1.2rem;
}

.active{
    color: green !important;
}

.dnd{
    color: red !important;
}

.busy {
    color: red !important;
}

.beBack{
    color: #ffb51a !important;
}

a{
    color: black !important;
}

li {
    cursor:  pointer;
}