<nav class="navbar">
  <a href="" class="sidebar-toggler" (click)="toggleSidebar($event)">
    <i class="feather icon-menu"></i>
  </a>
  <div class="navbar-content">
    
    <ul class="navbar-nav">
      
      <app-status-component class="nav-item"></app-status-component>

      <app-notification-component class="nav-item"></app-notification-component>

      <li class="nav-item nav-profile" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle id="profileDropdown">
          <img [src]="thumbnail" alt="profile">
        </a>
        <div ngbDropdownMenu aria-labelledby="profileDropdown">
          <div class="dropdown-header d-flex flex-column align-items-center">
            <div class="figure mb-3">
              <img [src]="thumbnail" alt="{{ loggedInUser?.userName}} profile">
            </div>
            <div class="info text-center">
              <p class="name font-weight-bold mb-0">{{loggedInUser?.firstName}} {{loggedInUser?.lastName}}</p>
              <p class="email text-muted mb-3">{{loggedInUser?.email}}</p>
            </div>
          </div>
          <div class="dropdown-body">
            <ul class="profile-nav p-0 pt-3">
              
              <li class="nav-item">
                <a routerLink="/profile/edit" class="nav-link">
                  <i class="feather icon-edit"></i>
                  <span>Edit Profile</span>
                </a>
              </li>
             
              <li class="nav-item">
                <a href="" (click)="onLogout($event)" class="nav-link">
                  <i class="feather icon-log-out"></i>
                  <span>Log Out</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>